html/container.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
  </head>
  <body>
    <div class="container">
      <div class="stace_1">
        <div class="textstace">
          <h1>Our Mission</h1>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in repellendus quisquam odio quis illum.</p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam iure praesentium.</p>
        </div>
      </div>
    </div>
  </body>
</html>

jade/container.jade
doctype html
html(lang="en")
  head
    title= LOGO
    link(rel="stylesheet", href="../css/main.css")
    link(rel="stylesheet", href="../css/normalize.css")
  body
    .container
      .stace_1
        .textstace
                  h1 Our Mission
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in repellendus quisquam odio quis illum.
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae numquam iure praesentium.
