jade/header.jade
doctype html
html(lang="en")
	head
		title= LOGO
		link(rel="stylesheet", href="../css/main.css")
		link(rel="stylesheet", href="../css/normalize.css")
	body
		.header
			.header-inner
				.logo: a(href="#"): img(src="../img/logo.jpg" alt="")
				ul.panel_bottoms
					li.bottoms: a(href="#") LABEL
					li.bottoms: a(href="#") LABEL
					li.bottoms: a(href="#") LABEL
					li.bottoms: a(href="#") SIGN IN

html/header.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
  </head>
  <body>
    <div class="header">
      <div class="header-inner">
        <div class="logo"><a href="#"><img src="../img/logo.jpg" alt=""></a></div>
        <ul class="panel_bottoms">
          <li class="bottoms"><a href="#">LABEL</a></li>
          <li class="bottoms"><a href="#">LABEL</a></li>
          <li class="bottoms"><a href="#">LABEL</a></li>
          <li class="bottoms"><a href="#">SIGN IN</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
